<div class="erb-doc-header">
	<h1>Erebus Core Framework</h1>
</div>

<div class="erb-doc-content">
    <h3>What is Erebus?</h3>
	Erebus Core is a web framework intended to serve as a swiss army tool to ease the creation of web applications.
</div>

<div class="erb-doc-content">
    <h3>Why another web framework?</h3>
	Most existing frameworks try to isolate and restrict the use of the DOM.  
    <br/>
    When complex UI functionalities are used, the developers would like to have control of the DOM.
    <br/>
    Freedom to manipulate the DOM is essential for advanced developers.
</div>